<!--コメント表示-->
<div class="comment_index">
  <h4>コメント:<%= @post.comments.count%>件</h4>
  <% post.comments.each do |comment| %>
    <p><%= link_to comment.user.name , @user %>: <%= comment.content %>
    <span class="text-muted">posted at <%= l(@post.created_at, format: :long) %></span></p>
      <%= render 'comment_favorites/like_comment_button', user: @user, comment: comment %>    
    <% if current_user == comment.user %>
      <%= link_to "削除" , [@post, comment], method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
    <% end %>
  <% end %>
</div>



<!--コメント入力-->
<div class="comment-form">
  <%= form_for([post , @comment]) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "コメントを入力" %>
    </div>
    <%= f.submit "投稿", class: "btn btn-primary" %>

  <% end %>
</div> 