<% if logged_in? %>
　<%= render 'rankings/favorite', posts: @posts %>
  <%= render 'rankings/relationship', users: @users %>
<% else %>

  <div class="row">
    <div class="col-sm-5">
      <img src="/images/Logic.jpeg"　width="300" height="300" alt="Logic"　class="img-responsive">
    </div>

    <div class="col-sm-offset-2 col-sm-5">
      
      <%= form_for(@user) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
  
        <div class="form-group">
          <%= f.label :name, 'ユーザー名' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
  
        <div class="form-group">
          <%= f.label :email, 'メールアドレス' %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
  
        <div class="form-group">
          <%= f.label :password, 'パスワード' %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
  
        <div class="form-group">
          <%= f.label :password_confirmation, 'パスワード確認' %>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>
  
        <%= f.submit '登録', class: 'btn btn-primary pull-right'%>
      <% end %>
    </div>
  </div>
  <%= render 'rankings/favorite', posts: @posts %>
  <%= render 'rankings/relationship', users: @users %>
<% end %>
