<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h2 class="section-heading"><%= @post.title %></h2>
        <blockquote class="blockquote"><%= @post.tag %></blockquote>
        <p><%= @post.content %></p>
      </div>
    </div>
  </div>
</article>

<% if logged_in? %>
  <%= render 'favorites/like_button', post: @post %>
<% end %>

<div>
  <% if current_user == @post.user %>
  <div>
    <%= link_to "編集", edit_post_path(@post.id), class: 'btn btn-primary	 btn-xs'%>
    <%= link_to "削除", @post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
  </div>
  <% end %>
</div>

<!--コメント表示-->
<div class="comment_index">
  <h4>コメント</h4>
  <% @post.comments.each do |comment| %>
    <p><%= link_to "#{comment.user.name}" , @user %>: <%= comment.content %>
    <% if current_user == comment.user %>
      <span> <%= link_to "x" , [@post,comment] , method: :delete %></span></p>
    <% end %>
  <% end %>
</div>


<!--コメント入力-->
<div class="comment-form">
  <%= form_for([@post , @comment]) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "コメントを入力" %>
    </div>
    <%= f.submit "投稿", class: "btn btn-primary" %>

  <% end %>

</script>
</div> 

<div>
  <%= link_to '戻る', root_path, class: 'btn btn-link btn-xs'%>
</div>